In [3]:
import requests
import pandas as pd
def task_1():
  url = "https://randomuser.me/api/?results=100&gender=male&format=csv&inc=gender,name,email"
  df = pd.read_csv(url)
  cols = ['name.first', 'name.last']
  df['name'] = df[cols].apply(lambda row: ' '.join(row.values.astype(str)), axis=1)
  df[['gender','name','email']].to_csv('task_1_results.csv',index=False)

In [4]:
import pandas as pd
url = "https://randomuser.me/api/?results=100&gender=male&format=csv&inc=gender,name,email"
df = pd.read_csv(url)

In [6]:
df

   gender name.title   name.first   name.last                            email
0    male   Monsieur          Kai       Meyer            kai.meyer@example.com
1    male         Mr      Mihajlo  Ivanišević   mihajlo.ivanisevic@example.com
2    male         Mr      بنیامین       جعفری        bnymyn.jaafry@example.com
3    male         Mr       Sergio    Windster      sergio.windster@example.com
4    male         Mr     Jonathan  Kristensen  jonathan.kristensen@example.com
..    ...        ...          ...         ...                              ...
95   male         Mr       Thomas     Molland       thomas.molland@example.com
96   male         Mr  Aristóteles      Novaes   aristoteles.novaes@example.com
97   male         Mr        Eelis    Seppanen       eelis.seppanen@example.com
98   male         Mr      Tristan   Rasmussen    tristan.rasmussen@example.com
99   male         Mr      Alfredo       Ureña        alfredo.urena@example.com

[100 rows x 5 columns]